In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('manage_lead_report.csv')

In [3]:
df.head()

,S.NO,LeadId,EnquiryNo,AcademicYear,LeadName,LeadType,CustomerCategory,City,CallCount,ChildName,...,utm_content,utm_extension,utm_position,campaign_name,ad_name,adset_name,form_name,referral_id,promocode,call_duration
0,0,2737693,ENQ04937411029428,2023-24,Sukanya,Fresh,NaN,NaN,13,Advika,...,OIS_Parenting_Interest_28to48_3Cities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2737693,ENQ04937411029428,2023-24,Sukanya,Fresh,NaN,NaN,13,Advika,...,OIS_Parenting_Interest_28to48_3Cities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2747370,ENQ4997935978284,2023-24,Shaista,Fresh,NaN,NaN,19,Zafirah Tarique,...,581438377092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2747370,ENQ4997935978284,2023-24,Shaista,Fresh,NaN,NaN,19,NaN,...,581438377092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3222997,ENQ1988983905109,2023-24,PRATHIMA,Fresh,NaN,NaN,2,Mayank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['S.NO', 'LeadId', 'EnquiryNo', 'AcademicYear', 'LeadName', 'LeadType',
       'CustomerCategory', 'City', 'CallCount', 'ChildName', 'Grade', 'Source',
       'Current_Status', 'Pro_Status', 'CounsellingDone',
       'VirtualCounselingScheduled', 'VirtualCounselingDone',
       'HomeCounselingScheduled', 'HomeCounselingDone', 'ParentDemoScheduled',
       'ParentDemoDone', 'StudentOnlineDemoScheduled', 'StudentOnlineDemoDone',
       'WalkinDone', 'ApplicationTaken', 'AdmissionDone',
       'PrincipalInteractionScheduled', 'PrincipalnteractionDone', 'Remarks',
       'NextFollowUpDate', 'NextFollowUpTime', 'FollowUpDate',
       'Assigned_Date_To_Bda', 'Assigned_Date_Counselor',
       'Assigned_Date_Digital_Counselor', 'Previous_School', 'Branch',
       'created_Date', 'Event_Name', 'Pro_Name', 'Pro_Erp', 'Agent',
       'Agent_Date', 'Counsellor_Name', 'Counsellor_Date',
       'DigitalCounsellor_Name', 'BDA_NAME', 'HomeCounsellingScheduleDate',
       'HomeCounsellingCompletedDate', 'TeamType', 'LastUpdateUser',
       'FollowupMessageSend', 'Payment_id', 'utm_source', 'utm_medium',
       'utm_campaign', 'utm_term', 'gclid', 'utm_placement', 'utm_experiment',
       'utm_network', 'utm_adgroup', 'utm_content', 'utm_extension',
       'utm_position', 'campaign_name', 'ad_name', 'adset_name', 'form_name',
       'referral_id', 'promocode', 'call_duration'],
      dtype='object')

In [5]:
len(df)

4868

In [8]:
df['AdmissionDone'].unique()

array(['No', nan, 'Yes'], dtype=object)

In [15]:
len(df[df['AdmissionDone']=='No'])

4065